.top-bar{
  position: fixed;
  z-index: 5;
  top: 10px;
  left: 10px;
  width:98%;
  border-radius: 40px;
  border:solid lightgrey 1px;
  background-color: white;
  padding: 0 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.p-avatar img {
  object-fit: cover;
}
.p-megamenu{
  border:0;

}
p-megamenu{
  flex: 1 1 0;
}
.p-button.p-button-secondary:enabled:focus{
  box-shadow: none;
}

span{
  color:black;
}

.p-megamenu-root-list{
  flex-wrap:nowrap;
}

