.top-bar{
  position: fixed;
  z-index: 5;
  top: 10px;
  left: 10px;
  width:98%;
  border-radius: 40px;
  border:solid lightgrey 1px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.p-avatar img {
  object-fit: cover;
}

.p-button.p-button-secondary:enabled:focus{
  box-shadow: none;
}

.labelColor{
  color:black;
}

.labelColorWhite{
  color:white;
}

.p-megamenu-root-list{
  flex-wrap:nowrap;
}

.p-menubar {
  background-color: transparent;
  border: none;
}

.p-menubar-root-list {
  flex-wrap: nowrap;
}

.light {
  color: white;
}

.dark {
  color: black;
}

.logo div {
  width: 120px;
}
