<main class="mr-8 ml-8">
  <div class="card flex gap-4 mb-4">
    <p>¡Hola, {{localStorage.getItem("userLogged")}}! segun los datos de tu perfil, tus calorías de mantenimiento son de : {{userTmb}} kcal. Actualmente tu objetivo es:
      {{userObjective}}</p>
    <form class="flex gap-4" (submit)="saveUserObjective()" [formGroup]="userObjectiveForm" *ngIf="userWantsModifyObjective">

        <p-dropdown
          formControlName="objective"
          id="userObjective"
          [options]="userObjectiveOptions"
          optionLabel="name"
          placeholder="Elige tu objetivo" />
        <p-button type="submit">Guardar preferencias</p-button>
    </form>
    <p-button *ngIf="!userWantsModifyObjective" (click) = "modifyObjective()">Modificar preferencias</p-button>
  </div>

  <div class="flex align-items-center mb-5">
    <div>
      <calories-calendar (selectedDateChange)="onDateChange($event)"></calories-calendar>
    </div>
    <div class="flex-1 ">
      <calories-dought class="flex flex-wrap justify-content-around"></calories-dought>
    </div>
  </div>
  <div class="flex align-items-center justify-content-center gap-8 mb-5">
    <div class=" flex-1 flex flex-wrap">
      <calories-food-info [history]="history" [selectedDate]="date"></calories-food-info>
    </div>
    <div class="flex-1">
      <calories-graphic></calories-graphic>
    </div>

  </div>

</main>
