<main class="mr-8 ml-8">

  <div class="flex align-items-center mb-5 gap-4">
    <div>
      <calories-calendar (selectedDateChange)="onDateChange($event)"></calories-calendar>
    </div>
    <div class="flex-1">
      <diabetes-graphic></diabetes-graphic>
    </div>
  </div>
  <div class="flex align-items-center justify-content-center gap-8 mb-5">
    <div class="flex-1">
      <food-info-diabetes [history]="history" [selectedDate]="date"></food-info-diabetes>
    </div>
    <div class="flex-1">
      <diabetes-polar-graphic></diabetes-polar-graphic>
    </div>

  </div>

</main>



