<main class="mr-3 ml-3 md:mr-8 md:ml-8">

  <div class="flex align-items-center justify-content-center mb-5 gap-7 flex-wrap md:flex-nowrap">
    <div >
      <calories-calendar></calories-calendar>
    </div>
    <div class="flex-1">
      <diabetes-graphic></diabetes-graphic>
    </div>
  </div>
  <div class="flex align-items-center justify-content-center gap-8 mb-5 flex-wrap">
    <div class="flex-1">
      <food-info-diabetes [history]="history"></food-info-diabetes>
    </div>
    <div class="flex-1 text-center">

      <diabetes-polar-graphic></diabetes-polar-graphic>
    </div>

  </div>

</main>



