<div class="flex flex-wrap gap-3 justify-content-start">
  <!-- Cajas Resumen -->
  <p-button (click)="addMeal()" class="w-full"><i class="pi pi-plus"></i></p-button>
  <p-card
    *ngFor="let meal of meals"
    header="{{ meal.name }} "
    styleClass="w-10 food-info cursor-pointer hover:scale-105 transition-all"
    (click)="openModal(meal)"
  >
    <p>
      <strong>Resumen:</strong>
      {{ meal.foods.slice(0, 3).join(', ') }}
      <span *ngIf="meal.foods.length > 3">...</span>
    </p>
    <p><strong>Total de alimentos:</strong> {{ meal.foods.length }}</p>
  </p-card>
</div>

<!-- Modal con detalles -->
<p-dialog [(visible)]="displayModal" [modal]="true" header="{{ selectedMeal?.name }}">
  <div *ngIf="selectedMeal" class="p-fluid">
    <div class="field">
      <label for="search">Buscar alimentos</label>
      <input
        id="search"
        type="text"
        pInputText
        (input)="filterFoods($event)"
        placeholder="Escribe el nombre del alimento..."
      />
    </div>

    <p-table [value]="selectedMeal.filteredFoods || selectedMeal.foods">
      <ng-template pTemplate="header">
        <tr>
          <th>Alimento</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-food>
        <tr>
          <td>{{ food }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>
