<main class="flex-1 mb-4 pl-2 pr-2 h-full ">
  <div class="field-container flex flex-column h-full">
    <div class="field flex align-items-center justify-content-center">
      <h1 class="font-light mr-3">Modifica tus datos</h1> <i class="pi pi-user" style="font-size: 1.5rem"></i>
    </div>
    <form [formGroup]="modifyUserForm" (submit)="modifyProperties()" class="flex flex-wrap gap-0 md:gap-4 w-8 m-auto ">
      <div class="w-full md:w-auto">
        <div class="field">
          <div class="mb-3">
            <label for="username">Usuario</label>
          </div>
          <input formControlName="username" pInputText id="username" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <span class="p-error mb-4 inline-block" *ngIf="isValidField('username')">
          {{getFieldError('username')}}
        </span>
        <div class="field">
          <div class="mb-3">
            <label for="password">Contraseña</label>
          </div>
          <p-password formControlName="password" id="password" [toggleMask]="true" [feedback]="false" class="w-full"></p-password>

        </div>
        <span class="p-error mb-4 inline-block" *ngIf="isValidField('password')">
          {{getFieldError('password')}}
        </span>
      </div>

      <div class="w-full md:w-auto">
        <div class="field">
          <div class="mb-3">
            <label for="name">Nombre</label>
          </div>
          <input formControlName="name" pInputText id="name" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <span class="p-error mb-4 inline-block" *ngIf="isValidField('name')">
         {{getFieldError('name')}}
        </span>
        <div class="field">
          <div class="mb-3">
            <label for="lastname">Apellido</label>
          </div>
          <input formControlName="lastname" pInputText id="lastname" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <span class="p-error mb-4 inline-block" *ngIf="isValidField('lastname')">
          {{getFieldError('lastname')}}
        </span>
      </div>
      <div class="w-full md:w-auto">
        <div class="field">
          <div class="mb-3">
            <label for="email">Correo Electrónico</label>
          </div>
          <input formControlName="email" pInputText id="email" type="email" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <span class="p-error mb-4 inline-block" *ngIf="isValidField('email')">
          {{getFieldError('email')}}
        </span>
        <div class="field">
          <div class="mb-3">
            <label for="gender">Género</label>
          </div>
          <p-dropdown
            class="w-full md:w-auto"
            formControlName="gender"
            id="gender"
            [options]="genderOptions"
            optionLabel="name"
            placeholder="Introduce tu género" />
        </div>
        <span class="p-error mb-4 inline-block" *ngIf="isValidField('gender')">
          {{getFieldError('gender')}}
        </span>
      </div>
      <div class="w-full md:w-auto">
        <div class="field">
          <div class="mb-3">
            <label for="age">Edad</label>
          </div>
<!--
          <input formControlName="age" pInputText id="age" type="number" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
-->
          <p-inputNumber
            formControlName="age"
            styleClass="w-full"
            id="age"
            [max]="100"
          />
        </div>
        <span class="p-error mb-4 inline-block" *ngIf="isValidField('age')">
          {{getFieldError('age')}}
        </span>
        <div class="field">
          <div class="mb-3">
            <label for="height">Altura</label>
          </div>
<!--
          <input formControlName="height" pInputText id="height" type="number" step="0.01" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
-->
          <p-inputNumber
            formControlName="height"
            styleClass="w-full"
            id="height"
            [max]="250"
          />
        </div>
        <span class="p-error mb-4 inline-block" *ngIf="isValidField('height')">
          {{getFieldError('height')}}
        </span>
      </div>
      <div class="w-full md:w-auto">
        <div class="field">
          <div class="mb-3">
            <label for="weight">Peso</label>
          </div>
<!--
          <input formControlName="weight" pInputText id="weight" type="number" step="0.01" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
-->
          <p-inputNumber
            formControlName="weight"
            styleClass="w-full"
            id="weight"
            mode="decimal"
            [maxFractionDigits]="1"
            [max]="500"
          />
        </div>
        <span class="p-error mb-4 inline-block" *ngIf="isValidField('weight')">
          {{getFieldError('weight')}}
        </span>
        <div class="field">
          <div class="mb-3">
            <label for="activityFactor">Factor de Actividad</label>
          </div>
          <p-dropdown
            formControlName="activityFactor"
            id="activityFactor"
            [options]="activityOptions"
            optionLabel="name"
            placeholder="Selecciona un factor de actividad" />
        </div>
      </div>
      <div class="w-full md:w-auto">
        <div class="field">
          <div class="mb-3">
            <label for="insulinaFactor">Factor de resistencia a la Insulina</label>
          </div>
<!--
          <input formControlName="insulinaFactor" pInputText id="insulinaFactor" type="number" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
-->
          <p-inputNumber
            formControlName="insulinaFactor"
            styleClass="w-full"
            id="insulinaFactor"
            name="factorDiabetes"
            mode="decimal"
            [maxFractionDigits]="2"
          />
        </div>
        <span class="p-error mb-4 inline-block" *ngIf="isValidField('insulinaFactor')">
          {{getFieldError('insulinaFactor')}}
        </span>
        <div class="field">
          <div class="mb-3">
            <label for="ICR">ICR</label>
          </div>
<!--
          <input formControlName="icr" pInputText id="ICR" type="number" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
-->
          <p-inputNumber
            formControlName="icr"
            styleClass="w-full"
            id="icr"
            name="icr"
            mode="decimal"
            [maxFractionDigits]="2"
          />
        </div>
        <span class="p-error mb-4 inline-block" *ngIf="isValidField('icr')">
          {{getFieldError('icr')}}
        </span>

      </div>
      <div class="w-full md:w-auto">
        <div class="field">
          <div class="mb-3">
            <label for="objective">Objetivo</label>
          </div>
          <p-dropdown
            formControlName="objective"
            id="objective"
            [options]="userObjectiveOptions"
            optionLabel="name"
            placeholder="Elige tu objetivo" />
        </div>
      </div>
      <div class="field w-full flex gap-6 justify-content-center">
        <p-button type="submit" label="Modificar Cuenta" [rounded]="true"></p-button>
        <p-button type="button" severity="danger" (click)="deleteUser()" label="Eliminar Cuenta" [rounded]="true"></p-button>
      </div>

    </form>
  </div>
</main>

