<div class="flex flex-column p-6">
  <form [formGroup]="activityForm" class="flex flex-column gap-4" (submit)="onSubmit()">
    <div class="flex flex-column gap-2">
      <label for="age">Edad</label>
      <p-inputNumber
        formControlName="age"
        styleClass="w-full"
        id="age"
        aria-describedby="name-help"
        [max]="100"
      />
      <small id="age-help">
        Introduce tu edad.
      </small>
      <span class="p-error" *ngIf="isValidField('age')">
        {{getFieldError('age')}}
      </span>
    </div>
    <div class="flex flex-column gap-2">
      <label for="weight">Peso</label>
      <p-inputNumber
        formControlName="weight"
        styleClass="w-full"
        id="weight"
        aria-describedby="weight-help"
        mode="decimal"
        [maxFractionDigits]="1"
        [max]="500"
      />
      <small id="weight-help">
        Introduce tu peso en Kg.
      </small>
      <span class="p-error" *ngIf="isValidField('weight')">
        {{getFieldError('weight')}}
      </span>
    </div>
    <div class="flex flex-column gap-2">
      <label for="height">Altura</label>
      <p-inputNumber
        formControlName="height"
        styleClass="w-full"
        id="height"
        aria-describedby="height-help"
        [max]="250"
      />
      <small id="email-help">
        Introduce tu altura en centimetros.
      </small>
      <span class="p-error" *ngIf="isValidField('height')">
        {{getFieldError('height')}}
      </span>
    </div>
    <div class="flex flex-column gap-2">
      <label for="activity">Factor de actividad</label>
      <div class="card flex justify-content-center">
        <p-dropdown
          formControlName="activity"
          id="activity"
          [options]="activityOptions"
          optionLabel="name"
          placeholder="Selecciona un factor de actividad" />
      </div>
    </div>
    <div class="card flex">
      <label for="diabetes" class="mr-4">¿Eres diabetico?</label><p-inputSwitch formControlName="isDiabetic" name="isDiabetic" id="diabetes"/>

    </div>
    <div class="flex flex-column gap-2" *ngIf="isDiabetic">
      <label for="factor-diabetes">Introduce tu factor de resistencia a la insulina</label>
      <p-inputNumber
        formControlName="diabetesFactor"
        styleClass="w-full"
        id="factor-diabetes"
        name="factorDiabetes"
        mode="decimal"
        [maxFractionDigits]="2"
      />
      <small id="factor-diabetes-help">
        Es una medida que indica cuánta insulina requiere el cuerpo para disminuir los niveles de glucosa en sangre.
        Un valor alto puede reflejar resistencia a la insulina, lo que significa que las células tienen dificultad para responder adecuadamente a esta hormona.
      </small>
    </div>
    <span class="p-error" *ngIf="isValidField('diabetesFactor')">
        {{getFieldError('diabetesFactor')}}
    </span>

    <div class="flex flex-column gap-2" *ngIf="isDiabetic">
      <label for="icr">Introduce tu ICR (Relación Carbohidratos-Insulina)</label>
      <p-inputNumber
        formControlName="icr"
        styleClass="w-full"
        id="icr"
        name="icr"
        mode="decimal"
        [maxFractionDigits]="2"
      />
      <small id="icr-help">
        Es la relación que determina cuántos gramos de carbohidratos puede procesar una unidad de insulina.
        Se utiliza para calcular la dosis de insulina necesaria según la cantidad de carbohidratos consumidos en una comida.
      </small>
    </div>
    <span class="p-error" *ngIf="isValidField('icr')">
        {{getFieldError('icr')}}
    </span>
    <div class="flex justify-content-between">
      <p-button routerLink="/register/personal" label="Anterior" [rounded]="true"/>
      <p-button type="submit" label="Siguiente" [rounded]="true"/>
    </div>


  </form>
</div>
