main{
  margin-top:140px;
}

.p-steps-title{
  padding: 0 10px;
}

.decorator-img{
  object-fit: cover;
}
.p-error{
  color:red;
}

@media screen and (max-width: 500px) {
  .card .p-steps-title {
    white-space: wrap;
    text-align: center;
  }
}

.p-menuitem-link{
  background:none;
}
.height{
  @media screen and (min-width: 1500px) {
    margin-top:140px;
    height:calc(100vh - 253px)
  }
}

@media screen and (min-width: 700px) {
  main{
    height:100%;
    margin-top:140px;
  }
}

:host {
  flex: 1 1 0;
}
