<footer class="pl-5 pr-5 pb-4 pt-6">
  <div class="flex justify-content-between mb-5">
    <div class="flex-1 flex flex-column justify-content-center">
      <span class="text-center">Controla-T</span>
      <p class="text-center text-blue-500">Tu aplicación con la que puedes controlar tus niveles de azúcar en sangre, tu alimentación y manetenerte en buena forma</p>
    </div>
    <div class="flex-1 flex justify-content-evenly justify-content-center">
      <div>
        <span>Links</span>
        <ul class="p-0">
          <li><a class="no-underline" href="#">Link 1</a></li>
          <li><a class="no-underline" href="#">Link 2</a></li>
          <li><a class="no-underline" href="#">Link 3</a></li>
        </ul>
      </div>
      <div>
        <span>Links</span>
        <ul class="p-0">
          <li><a class="no-underline" href="#">Link 1</a></li>
          <li><a class="no-underline" href="#">Link 2</a></li>
          <li><a class="no-underline" href="#">Link 3</a></li>
        </ul>
      </div>
    </div>
    <div class="flex-1 flex flex-column justify-content-center"><p class="text-center"><span>Redes sociales</span></p></div>
  </div>
  <hr/>
  <div>
    <p class="text-center mt-5">© 2024 Controla-T. Todos los derechos reservados.</p>
  </div>
</footer>
