<footer class="pl-3 pr-3 pb-3 pt-3">
  <div class="flex flex-column sm:flex-row justify-content-between align-items-center gap-4">
    <div class="flex justify-content-center sm:justify-content-start flex-1">
      <p-avatar [image]="isDarkTheme ? 'top-bar/logo-controlate.png' : 'top-bar/logo-controlate-dark.png'" class="logo flex align-items-center justify-content-center mt-2 mb-2" size="xlarge"></p-avatar>
    </div>
    <div class="flex justify-content-center flex-1">
      <p class="text-center mt-2 sm:mt-0">© 2024 Controla-T. Proyecto final Desarrollo de Aplicaciones Web Óscar Velasco Portela</p>
    </div>
    <div class="flex justify-content-center sm:justify-content-end gap-3 flex-1">
      <a href="https://www.linkedin.com/in/oscarvelasco1/">
        <p-avatar image="footer/linkedin.webp"></p-avatar>
      </a>
      <a href="https://www.instagram.com">
        <p-avatar image="footer/instagram.webp"></p-avatar>
      </a>
      <a href="https://www.youtube.com">
        <p-avatar image="footer/youtube.webp"></p-avatar>
      </a>
      <a href="https://www.whatsapp.com">
        <p-avatar image="footer/whatsapp.webp"></p-avatar>
      </a>
    </div>
  </div>
</footer>
